body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0a0a0a;
  color: white;
  overflow-x: hidden;
}

.cart {
  display: none;
  background-color: #1c1c1c;
  color: #00ffae;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #00ffae;
}

.product-row {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.product-card {
  background-color: #121212;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  padding: 10px;
  transition: 0.3s;
  border: 2px solid transparent;
  cursor: pointer;
}

.product-card.selected {
  border: 2px solid #00ffff;
  box-shadow: 0 0 15px #00ffff80;
}

.product-card img {
  width: 100%;
  border-radius: 15px;
}

.info p {
  margin: 10px 0 5px;
  font-weight: 600;
  font-size: 1rem;
}

.info span {
  font-size: 0.9rem;
  color: #aaa;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(-45deg, #1e3c72, #2a5298, #1e3c72, #000);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: sans-serif;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
